<html>
<head>
	<title>success</title>
	<script type="text/javascript">
		function displayImage(elem) {
			var image = document.getElementById("canvas");
			image.src = elem.value;        
		}
		</script>
</head>
<body>
	<p>File uploaded successfully</p>
	<p>File Name: {{name}}</p>

	<!-- <form name="controls">
		<img id="canvas" src="pictures/fire1.jpg" />
		<select name="imageList" onchange="displayImage(this);">
			<option value="pictures/fire1.jpg">Fire 1</option>
			<option value="pictures/fire2.jpg">Fire 2</option>
			<option value="pictures/fire3.jpg">Fire 3</option>
			<option value="pictures/fire4.jpg">Fire 4</option>
		</select>
	</form> -->

</body>
</html>

